body {
  background-color: #0042ab;
  color: white;
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  word-break: break-word;
}

.app {
  padding: 100px 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.title {
  margin-bottom: 70px;
  text-align: center;
}

.credits {
  margin-top: 50px;
  margin-bottom: 1em;
  width: 100%;
  text-align: center;

}

a {
  color: white;
}

.logo {
  width: 150px;
}

#fingerprint {
  display: none;
  flex-direction: column;
  text-align: center;
}

$buttonColor = #002d67;

$inputStyle() {
  border: 4px solid $buttonColor;
  border-radius: 8px;
  padding: 10px;
  text-align: center;

  &:hover, &:focus {
    outline: 0;
    border-color: lighten($buttonColor, 25%)
  }
}

.fingerprint__value {
  margin-bottom: 50px;
}

#form {
  display: none;
  flex-direction: column;

  h3 {
    text-align: center;
  }

  input {
    $inputStyle();
  }

  button {
    $inputStyle();
    margin-top: 20px;
    background-color $buttonColor;
    color: white;
    cursor: pointer;

    &:hover, &:focus {
      background-color lighten($buttonColor, 25%);
    }
  }
}

.show {
  display: flex !important;
}

#loader {
  display: none;
  border: 10px solid alpha(white, 50%);
  border-radius: 100%;
  padding: 25px;
  border-top-color: white;
  animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}